<div>
  <a   routerLink="../meeting" routerLinkActive="active" >
      <div class="col-four">
              <div class="databox radius-bordered databox-shadowed databox-graded">
                      <div class="databox-right bg-themesecondary">
                          <div class="databox-piechart">
                              <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff"
                                   data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3"
                                   data-size="47" data-trackcolor="rgba(255,255,255,0.1)">
                                  <span class="white">
                                      <md-icon md-list-icon >chrome_reader_mode</md-icon>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="databox-left">
                      <span class="databox-number themesecondary">
                      جلسات
                      </span>
                          <div class="databox-text darkgray">جلسات</div>
                          <div class="databox-stat themesecondary radius-bordered">
                              <md-icon md-list-icon >chrome_reader_mode</md-icon>
                          </div>
                      </div>
                  </div>
      </div>
  </a>
  
  <a   routerLink="../gathering" routerLinkActive="active" >
  <div class="col-four">
          <div class="databox radius-bordered databox-shadowed databox-graded">
                  <div class="databox-right bg-themethirdcolor">
                      <div class="databox-piechart">
                          <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff"
                               data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3"
                               data-size="47" data-trackcolor="rgba(255,255,255,0.1)">
                              <span class="white">
                                  <md-icon md-list-icon >chrome_reader_mode</md-icon>
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="databox-left">
                  <span class="databox-number themethirdcolor">
                  گرد همایی
                  </span>
                      <div class="databox-text darkgray">گرد همایی</div>
                      <div class="databox-stat themethirdcolor radius-bordered">
                          <md-icon md-list-icon >chrome_reader_mode</md-icon>
                      </div>
                  </div>
              </div>
  </div>
  </a>
  <a routerLink="../courses" routerLinkActive="active" >
  <div class="col-four">
          <div class="databox radius-bordered databox-shadowed databox-graded">
                  <div class="databox-right bg-themeprimary">
                      <div class="databox-piechart">
                          <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff"
                               data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3"
                               data-size="47" data-trackcolor="rgba(255,255,255,0.1)">
                              <span class="white">
                                  <md-icon md-list-icon >chrome_reader_mode</md-icon>
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="databox-left">
                  <span class="databox-number themeprimary">
                  دوره های آموزشی
                  </span>
                      <div class="databox-text darkgray">دوره های آموزشی</div>
                      <div class="databox-stat themeprimary radius-bordered">
                          <md-icon md-list-icon >chrome_reader_mode</md-icon>
                      </div>
                  </div>
              </div>
  </div>
</a>
</div>
