

<div md-dialog-content class="dialogSearch">
<h1 md-dialog-title>ویرایش</h1>
{{data.TypeName}}
    <div [ngSwitch]="data.updateObj.TypeName">
        <div *ngSwitchCase="'Video'">
                <video width="100" controls>
                        <source src="{{imageUrl}}{{data.updateObj.DOCUMENTID}}/{{data.updateObj.DocumentExtension}}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
        </div>
        <div *ngSwitchCase="'Sound'">
                <audio controls>
                        <source src="{{imageUrl}}{{data.updateObj.DOCUMENTID}}/{{data.updateObj.DocumentExtension}}" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio> 
        </div>
        <div *ngSwitchCase="'Image'">
                <img src="{{imageUrl}}{{data.updateObj.DOCUMENTID}}/{{data.updateObj.DocumentExtension}}" alt="Smiley face" style ="max-width: 100px;"/>
        </div>
    </div>
    <md-form-field>
        <input mdInput [(ngModel)]="data.updateObj.DocumentName" placeholder="نام فایل " >
    </md-form-field>
    <label><span> فایل </span></label>
    <input  placeholder="فایل" type="file" #fileInput (change)="checkEx($event)">
    
      <img [src]=url #img (change)="imgChange()">
      <p #h></p>
      <p #w></p>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data" tabindex="2">ویرایش</button>
  <button md-button (click)="onNoClick()" tabindex="-1">انصراف </button>
</div>