<div class="general-setting">
  <label><span>تماس باما</span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
  
  <label><span> تماس باما فوتر</span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
  
  <label><span>تماس باما منو</span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
  
  <label><span>درباره ما </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
  
  <label><span>چشم انداز جانسو</span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
    
  <label><span>پشتیبانی </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>
  
  <label><span>راهنمای سایت </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>

  <label><span>توضیحات ثبت نام </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>

  <label><span>قوانین ثبت نام </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div>

  <label><span>متن فوتر </span></label>
  <div [(froalaModel)]="editorContent" [froalaEditor]>Hello, Froala!</div> 
</div>