<div class="content-settings-color">
        <label><span>رنگ 1</span></label>
        <hr>
        <!-- <md-form-field> -->
            <label><span>رنگ متن</span></label>
            <input  placeholder="رنگ متن" type="color">
        <!-- </md-form-field> -->
        <!-- <md-form-field> -->
            <label><span>رنگ پس زمینه</span></label>
            <input placeholder="رنگ پس زمینه" type="color">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>رنگ هاور متن</span></label>
            <input placeholder="رنگ هاور متن" type="color">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>رنگ هاور پس زمینه</span></label>
            <input placeholder="رنگ هاور پس زمینه" type="color">
        <!-- </md-form-field> -->

        <label><span>رنگ 2</span></label>
        <hr>
        <!-- <md-form-field> -->
            <label><span>رنگ متن</span></label>
            <input placeholder="رنگ متن" type="color">
        <!-- </md-form-field> -->
        <!-- <md-form-field> -->
            <label><span>رنگ پس زمینه</span></label>
            <input placeholder="رنگ پس زمینه" type="color">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>رنگ هاور متن</span></label>
            <input placeholder="رنگ هاور متن" type="color">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>رنگ هاور پس زمینه</span></label>
            <input placeholder="رنگ هاور پس زمینه" type="color">
        <!-- </md-form-field> -->
    </div>

<div class="content-settings-img">
        <label><span>فونت</span></label>
        <hr>
        <!-- <md-form-field> -->
            <label><span>رنگ متن</span></label>
            <input  placeholder="فونت" type="file">
        <!-- </md-form-field> -->

        <label><span>تصاویر</span></label>
        <hr>
        <!-- <md-form-field> -->
            <label><span>تصویر فوآیکن</span></label>
            <input  placeholder="تصویر فوآیکن" type="file">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>لوگو هدر</span></label>
            <input  placeholder="لوگو هدر" type="file">
        <!-- </md-form-field> -->

        <!-- <md-form-field> -->
            <label><span>لوگو انگلیسی</span></label>
            <input  placeholder="لوگو انگلیسی" type="file">
        <!-- </md-form-field> -->
        
        <!-- <md-form-field> -->
            <label><span>بنر</span></label>
            <input  placeholder="بنر" type="file">
        <!-- </md-form-field> -->
        
        <!-- <md-form-field> -->
            <label><span>لوگو فوتر</span></label>
            <input  placeholder="لوگو فوتر" type="file">
        <!-- </md-form-field> -->
    
        <!-- <md-form-field> -->
            <label><span>بنر بالای فوتر</span></label>
            <input  placeholder="بنر بالای فوتر" type="file">
        <!-- </md-form-field> -->
        
</div>
<button md-raised-button color="primary">ذخیره</button>